<a href="https://colab.research.google.com/github/Sankalp679/SHALA/blob/Assignment-1/Copy_of_StudentGettingStarted_Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Getting Started**



---

#Part1: numpy

---



---


**1. Importing the module**


---

In [0]:
import numpy as np



---
**2. Creating an array**
*


---

In [0]:
a = np.array([[1,2,3],[4,5,6]])
print(a)
print(type(a))

[[1 2 3]
 [4 5 6]]
<class 'numpy.ndarray'>

In [0]:
b = np.array( [ [1,2], [3,4] ], dtype=complex )
print(b)

[[1.+0.j 2.+0.j]
 [3.+0.j 4.+0.j]]

In [0]:
# create an array which contains zeros
c = np.zeros((2,3))
print('c = {}'.format())

[[0. 0. 0.]
 [0. 0. 0.]]

In [0]:
# create an array of ones
d = np.ones((2,3,4), dtype=np.int16 )
print('d = {}'.format(d))

d = [[[1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]]

 [[1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]]]

In [0]:
# create an empty array
e = np.empty((3,3))
print('e = {}'.format(e))

e = [[3.29196414e-316 2.93887202e-316 0.00000000e+000]
 [3.29203924e-316 2.91146640e-316 1.58101007e-322]
 [1.43622020e+161 1.94433567e-316 4.94065646e-324]]

In [0]:
# create an identity array
f = np.eye(5)
print('f = {}'.format(f))

f = [[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [0]:
# create an array of ones with the same size of array c
g = np.ones_like(c)
print('g = {}'.format(g))

g = [[1. 1. 1.]
 [1. 1. 1.]]

In [0]:
# create an array filled with inf values
h = np.full((3, 2), np.inf)
print('h = {}'.format(h))

h = [[inf inf]
 [inf inf]
 [inf inf]]

In [0]:
# create a 3*3 array
i = np.array([[0,1,2],[3,4,5],[6,7,8]])
print('i = {}'.format(i))

i = [[0 1 2]
 [3 4 5]
 [6 7 8]]

In [0]:
# find the diagonal of the previous array
j = np.diag(f)
print('j = {}'.format(j))

j = [1. 1. 1. 1. 1.]

In [0]:
# find the diagonals above and below the main diagonal
j = np.diag(f,k = 1)
print('j = {}'.format(j))
print("-"*20)
j = np.diag(i,k = -2)
print('j = {}'.format(j))

j = [0. 0. 0. 0.]
--------------------
j = [6]



---
**3. Create a sequence of numbers**


---

In [0]:
# create a sequence of three numbers between 1 and 7
f = np.arange(1,7,2)
print("f = {}".format(f))

f = [1 3 5]

In [0]:
# create a sequence of numbers between 1 and 7 with stride 0.5
g = np.arange(1,7,0.5)
print("g = {}".format(g))

g = [1.  1.5 2.  2.5 3.  3.5 4.  4.5 5.  5.5 6.  6.5]

In [0]:
# create 10 numbers between 1 and 7
h = np.linspace(1,7,10)
print("h = {}".format(h))

h = [1.         1.66666667 2.33333333 3.         3.66666667 4.33333333
 5.         5.66666667 6.33333333 7.        ]



---
**Reshape an array**

---

In [0]:
# create a vector of 10 elements and reshape it into 5*2 array
a = np.arange(10)
print("a = {}".format(a))
print("-"*20)
b = a.reshape(5,2)
print("b = {}".format(b))

a = [0 1 2 3 4 5 6 7 8 9]
--------------------
b = [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

In [0]:
# flatten the previous array 
c = i.flatten()
print("c = {}".format(c))
c.shape

c = [0 1 2 3 4 5 6 7 8]

(9,)

In [0]:
# create a 2*3 array then find its transpose
d= np.array([[1,2,3],[4,5,6]])
print("d = {}".format(d))
print("-"*20)
e= d.transpose()
print("e = {}".format(e))

d = [[1 2 3]
 [4 5 6]]
--------------------
e = [[1 4]
 [2 5]
 [3 6]]

In [0]:
# create a random 3*2 array 
a = np.random.random_sample((3, 2)) *5
print("a = {}".format(a))

a = [[3.12132646 3.81317679]
 [2.76905938 0.98922273]
 [1.56362608 0.78214136]]

In [0]:
# find the minimum of the previous array (a) and its index
print("min(a) = {}".format(np.min(a)))
print("argmin(a) = {}".format(np.argmin(a)))

min(a) = 0.782141361073056
argmin(a) = 5

In [0]:
# find the maximum of a and its index
print("max(a) = {}".format(np.max(a)))
print("argmax(a) = {}".format(np.argmax(a)))

max(a) = 3.8131767911200773
argmax(a) = 1

In [0]:
# find the maximums and minimums of rows 1,2
# np.maximum(x1,x2) is same as np.where(x1 >= x2, x1, x2) 
# print(a[1])
# print(a[0])
# print(a)
a.shape
# print("maximum of row1, row2 = {}".format(np.maximum(a[1],a[0])))
# print("minimum of row1, row2 = {}".format(np.minimum(a[1],a[2])))

(2, 2)



---

**Statistical measures**

---

In [0]:
# generate a random 3*2 array and compute its mean, variance, and standard deviation
a = np.random.random_sample((3, 2)) *5
print("a = {}".format(a))
print("-"*20)
print("mean(a) = {}".format(np.mean(a)))
print("var(a) = {}".format(np.var(a)))
print("std(a) = {}".format(np.std(a)))

a = [[4.79626769 3.39295836]
 [2.20908025 1.20401339]
 [1.4317472  0.8164318 ]]
--------------------
mean(a) = 2.308416446890969
var(a) = 1.931629323541884
std(a) = 1.3898306816090527



---

**Linear Algebra**

---

In [0]:
# create a square, random matrix a 
a = np.random.random_sample((3, 3))
print(a)
b = np.exp(a)
print("b = exp(a){}".format(b))

[[0.29859823 0.16621267 0.89566878]
 [0.55556502 0.698792   0.54887162]
 [0.44880361 0.31247873 0.0450255 ]]
b = exp(a)[[1.34796794 1.1808242  2.44897307]
 [1.74292549 2.01132156 1.73129835]
 [1.56643699 1.36680886 1.04605453]]

In [0]:
# compute the determinant, rank, and trace of b
det = np.linalg.det(b)
print("determinant(b)= {}".format(det))
rank = np.linalg.matrix_rank(b)
print("rank(b)= {}".format(rank))
trace = np.trace(b)
print("trace(b)= {}".format(trace))

determinant(b)= -1.1859217186017756
rank(b)= 3
trace(b)= 4.405344032219012

In [0]:
#find the eigen values and the eigen vectors of matrix b
eigen_val,eigen_vec = np.linalg.eig(b)
print("the eigen values of b:\n{}".format(eigen_val))
print("the the right eigen vectors of b:\n{}".format(eigen_vec))

the eigen values of b:
[ 4.77930444 -0.7190502   0.34508979]
the the right eigen vectors of b:
[[-0.57261102 -0.78599757  0.62226782]
 [-0.66255946  0.11678475 -0.77381584]
 [-0.48283701  0.60709895  0.11828699]]

In [0]:
# implement singular value decomposition on matrix b
# u,s,vh = np.linalg.svd(b)
# print("U of b is :\n{}".format(u))
# print("V of b is :\n{}".format(vh))
# print("singular values of b are :\n{}".format(s))

In [0]:
# generate two arrays and compute their dot product
a = np.array([[1,2],[3,4]]) 
b = np.array([[11,12],[13,14]]) 
c = np.dot(a,b)
print("the dot product of a and b is:\n{}".format(c))
d = np.matmul(a,b)
print("the dot product of a and b is:\n{}".format(d))
print("the dot product of a and b is:\n{}".format(a*b))

the dot product of a and b is:
[[37 40]
 [85 92]]
the dot product of a and b is:
[[37 40]
 [85 92]]
the dot product of a and b is:
[[11 24]
 [39 56]]

In [0]:
# Generate an array and compute its inverse and its pseudo inverse
# a = np.random.random_sample((3,3))
# print(a)
# # Compute the (multiplicative) inverse of a matrix.
# print("the inverse of a is:")
# b = np.linalg.inv(a)
# print(b)
# #compute the (Moore-Penrose) pseudo-inverse of a
# print("the pseudo-inverse of a is:")
# c = np.linalg.pinv(a)
# print(c)

import random
c=np.random.seed(6)
print(c)
d = random.randint(1, 10)  
print(d)
np.random.seed(1099)
d = random.randint(1, 10) 
print(d)

None
9
2



---


#Part2: pandas


---



---

**1. Load the pandas package**

---

In [0]:
import pandas as pd



---



**2.   I want to store customers data. For a number of customers I know, the name(characters), age(integers), and sex(male/female) data.**


---

In [0]:
df = pd.DataFrame({
    "Name": ["Sahar",
             "Nisha",
             "Lokesh"],
    "Age":[28, 30, 25],
    "Sex":["female","female","male"]
})

df

     Name  Age     Sex
0   Sahar   28  female
1   Nisha   30  female
2  Lokesh   25    male



---


**Note that:** A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers,floating point values, categorical data and more) in columns.


---



---


**3.   To access the data of one column:**


---

In [0]:
df["Age"]

0    28
1    30
2    25
Name: Age, dtype: int64



---


**4. To know the maximum age of the customers:**


---

In [0]:
# df["Age"].max()



---


**5. If you are interested of some basic statistics of the numerical data of your table try describe() method, which provides a quick overview of the numerical data in a DataFrame**


---

In [0]:
# df.describe()



---


**6. Dealing with CSV files**
pandas provides the read_csv() function to read data stored as a csv file into a pandas DataFrame


---

In [0]:
CustomerData = pd.read_csv("/content/drive/My Drive/CusomerData .csv")

FileNotFoundError: ignored

In [0]:
CustomerData



---


**To see the first two rows :**


---

In [0]:
# CustomerData.head(2)



---


**A check on how pandas interpreted each of the column data types can be done by requesting the pandas dtypes
attribut**


---

In [0]:
# CustomerData.dtypes



---


**To store the data in an excel file:**


---

In [0]:
# CustomerData.to_excel('CustomerData.xlsx', sheet_name='Customers', index=False)

In [0]:
# CD = pd.read_excel('CustomerData.xlsx', sheet_name='Customers')
CD




---


**To get a technical summary of a DataFrame**


---

In [0]:
# CustomerData.info()



---



**Now let us select one column and look at its type and shape**


---

In [0]:
# sex = CustomerData["Gender"]
# # sex.head()

In [0]:
# sex.shape



---


**To select multiple columns:**


---

In [0]:
# CustomerData[["Gender","Name"]]



---


**To filter specific rows from a DataFrame:** 
pass the customer who are elder than 29


---

In [0]:
# above_29 = CustomerData[CustomerData["Age"]>29]
# above_29.head()




---


**How to select specific rows and columns from a DataFrame**


---

In [0]:
# names_above_29 = CustomerData.loc[CustomerData["Age"]>29,"Name"]
# names_above_29.head()




---


**Select rows from 1 to 3 and columns 1,2:**


---

In [0]:
# CustomerData.iloc[0:3,0:2]



---


**Note:**
1. Select specific rows and/or columns using loc when using the row and column names
2. Select specific rows and/or columns using iloc when using the positions in the table


---



---

**Plotting**

---

In [0]:
# import matplotlib.pyplot as plt

In [0]:
CustomerData.plot()




---


**To plot only the columns of the data table with the data from Age**


---

In [0]:
# CustomerData["Age"].plot()

In [0]:
# CustomerData.plot.scatter(x="Id",
#                           y="Age")

In [0]:
# CustomerData.plot.box()



---


**Some Statistics**


---

In [0]:
CustomerData["Age"].mean()

NameError: ignored

In [0]:
# CustomerData["Age"].median()

In [0]:
# CustomerData["Age"].max()

In [0]:
# CustomerData["Age"].min()

In [0]:
# CustomerData["Age"].skew()

In [0]:
# CustomerData["Age"].var()

In [0]:
# CustomerData["Age"].std()

In [0]:
# CustomerData["Age"].mode()



---


**Combining overlapping data sets**


---

In [0]:
# import numpy as np

In [0]:
# df1 = pd.DataFrame({'A': [1., np.nan, 3., 5., np.nan],
#                     'B': [np.nan, 2., 3., np.nan, 6.]})
# df2 = pd.DataFrame({'A': [5., 2., 4., np.nan, 3., 7.],
#                     'B': [np.nan, np.nan, 3., 4., 6., 8.]})

In [0]:
# df1

In [0]:
# df2

In [0]:
# df1.combine_first(df2)



---


**combine_first() combines two DataFrame objects where missing values in one 
DataFrame are conditionally filled with like-labeled values from the other DataFrame.**


---

In [0]:
import numpy as np
def combiner(x, y):
  return np.where(pd.isna(x), y, x)

In [0]:
df1 = pd.DataFrame({'A': [1., 2., 3., 5., 6.],
                    'B': [1., np.nan, 3., 4., np.nan]})
df2 = pd.DataFrame({'A': [5., 2., 4., 2., 3.],
                    'B': [7., 3., 4., 6., 8.]})

df3 = combiner(df1,df2)
df3

array([[1., 1.],
       [2., 3.],
       [3., 3.],
       [5., 4.],
       [6., 8.]])




---


**To exclude missing data you can use skipna = True**


---

In [0]:
df1.sum(axis=1, skipna=False)

0    2.0
1    NaN
2    6.0
3    9.0
4    NaN
dtype: float64



---


**Crosstabs**


---

In [0]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['infantry', 'infantry', 'cavalry', 'cavalry', 'infantry', 'infantry', 'cavalry', 'cavalry','infantry', 'infantry', 'cavalry', 'cavalry'], 
        'experience': ['veteran', 'rookie', 'veteran', 'rookie', 'veteran', 'rookie', 'veteran', 'rookie','veteran', 'rookie', 'veteran', 'rookie'],
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
df = pd.DataFrame(raw_data)
df

      regiment   company experience      name  preTestScore  postTestScore
0   Nighthawks  infantry    veteran    Miller             4             25
1   Nighthawks  infantry     rookie  Jacobson            24             94
2   Nighthawks   cavalry    veteran       Ali            31             57
3   Nighthawks   cavalry     rookie    Milner             2             62
4     Dragoons  infantry    veteran     Cooze             3             70
5     Dragoons  infantry     rookie     Jacon             4             25
6     Dragoons   cavalry    veteran    Ryaner            24             94
7     Dragoons   cavalry     rookie      Sone            31             57
8       Scouts  infantry    veteran     Sloan             2             62
9       Scouts  infantry     rookie     Piger             3             70
10      Scouts   cavalry    veteran     Riani             2             62
11      Scouts   cavalry     rookie       Ali             3             70




---


**Counting the number of observations by regiment and category**


---

In [0]:
pd.crosstab(df.regiment, df.company, margins=True)

company     cavalry  infantry  All
regiment
Dragoons          2         2    4
Nighthawks        2         2    4
Scouts            2         2    4
All               6         6   12



---


**Create a crosstab of the number of rookie and veteran cavalry and infantry soldiers per regiment**


---

In [0]:
pd.crosstab([df.company, df.experience], df.regiment,  margins=True)

regiment             Dragoons  Nighthawks  Scouts  All
company  experience
cavalry  rookie             1           1       1    3
         veteran            1           1       1    3
infantry rookie             1           1       1    3
         veteran            1           1       1    3
All                         4           4       4   12



---


**get_dummies()**
This function is used to convert categorical variable into dummy variable (one-hot encoding)


---

In [0]:
List = list('Hello World')
pd.get_dummies(List)

       H  W  d  e  l  o  r
0   0  1  0  0  0  0  0  0
1   0  0  0  0  1  0  0  0
2   0  0  0  0  0  1  0  0
3   0  0  0  0  0  1  0  0
4   0  0  0  0  0  0  1  0
5   1  0  0  0  0  0  0  0
6   0  0  1  0  0  0  0  0
7   0  0  0  0  0  0  1  0
8   0  0  0  0  0  0  0  1
9   0  0  0  0  0  1  0  0
10  0  0  0  1  0  0  0  0

In [0]:
pd.get_dummies(pd.Series(list('abc')), drop_first=True)

   b  c
0  0  0
1  1  0
2  0  1

In [0]:
pd.get_dummies(pd.Series(list('abc')), dtype = float)

     a    b    c
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0




---


**pd.DataFrame()**:
converts a numpy array into a data frame


---

In [0]:
Array = np.array([[1,2,3],[4,5,6]])
df1 =pd.DataFrame(Array) 
df1

   0  1  2
0  1  2  3
1  4  5  6



---


**you can use this function to get a numpy array as well**


---

In [0]:
pd.DataFrame({"A": [1, 2,3], "B": [4,5,6]}).to_numpy()

array([[1, 4],
       [2, 5],
       [3, 6]])

In [0]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:

Mounted at /gdrive

In [0]:
!pwd

/content

In [0]:
!cd /content/drive
!ls

/bin/bash: line 0: cd: /content/drive: No such file or directory
sample_data